@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", sans-serif;
}


ion-icon {
    color: rgba(0, 0, 0, 0.9);
    width: 20px;
    height: 20px;
}

ion-icon:hover {
    border: none;
    color: rgba(0, 0, 0, 1);
    transform: scale(1.3);
}

.background {
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: 0;
}

#bottom {
    display: flex;
    padding-top: 3%;
}


.card {
    box-shadow: 2px 2px 5px;
    border-radius: 15px;
    flex: 1;
    transition: 0.3s all ease;
}

.card:hover {
    flex: 5;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


#footer {
    position: relative;
    width: 100%;
}

#one {
    background-image: url(../img/background/dog.jpeg);
}

#two {
    background-image: url(../img/background/snake.jpg);
}

#three {
    background-image: url(../img/background/cat.jpg);
}

#four {
    background-image: url(../img/background/bird.jpg);
}

title,
span,
p {
    line-height: 1.2;
    text-shadow: 2px 2px 5px black;
}

main {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main>.background {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.slider-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    left: 1.5%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}

.slider-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    text-shadow: 1px 1px 4px #000;
    color: white;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
    transform: scale(1.2);
    color: white;
}

#footer>.col {
    text-shadow: none;
}

@media only screen and (min-width: 250px) {
    html, body {
        overflow-x:hidden ;
    }
    .title {
        font-size: 40px;
    }

    .carousel,
    .carousel-inner {
        display: flex;
        justify-self: center;
        flex-direction: column;
        width: auto;
        height: auto;
    }

    #vet {
        border-top: #000000c5 2px solid;
        border-left: none;
    }

    #logo {
        border-bottom: #000000c5 2px solid;
    }
    .card-title {
        font-size: 7px;
    }
    .card-text {
        text-shadow: none;
        color: #000000df;
        font-size: 6px;
    }
}



@media only screen and (min-width: 768px) {
    .title {
        font-size: 45px;
    }

    .carousel,
    .carousel-inner {
        display: flex;
        justify-self: center;
        flex-direction: column;
        min-width: auto;
        height: auto;
    }

    #vet {
        border-top: none;
        border-left: #000000c5 2px solid;
    }

    #logo {
        border-bottom: none;
    }
    .card-title {
        font-size: 13px;
    }
    .card-text {
        text-shadow: none;
        color: #000000df;
        font-size: 12px;
    }
}

    @media only screen and (min-width: 1024px) {

        #top .title,
        p {
            width: 30%;
        }

        .title {
            font-size: 50px;
            align-self: flex-start;
        }

        .carousel,
        .carousel-inner {
            display: flex;
            flex-direction: row;
            margin-right: 15px;
            height: auto;
        }

        .hub {
            display: flex;
            flex-direction: row;
        }

        .hubphoto {
            display: flex;
            flex-direction: column;
            row-gap: 5rem;
        }
    }
}